<!DOCTYPE html>
<html>
  <meta charset="UTF-8"> 
  <head>
    <title>Student Grades </title>
    
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Student Grades</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">         
          <li ><a href="index.html">Add Grades<span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="checkgrades.html">Check Grades</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button onclick="checkGrades();" class="btn btn-success">Submit</button>
        </div>
      </div>
      <div id="grades"></div>
  </body>  
</html>
